# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Automation Courses\Lesson12\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.name
/compiler.xml
/jarRepositories.xml
/misc.xml
/vcs.xml
/workspace.xml